<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Made via mapbox and visual crossing weather api. check source code on my <a href="https://github.com/real-tea/weather-node-app">Linkedin</a></p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>