<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <p> Beginner level project made via express and nodejs <br>.Help me improve this on my github</p>
    </div>
    
    {{>footer}}
</body>

</html>